[user]
  name = Jeff Yeh
  email = yehyeh@amazon.com
[core]
  excludesfile = ~/.config/git/excludes
[include]
  path = ~/.config/git/aliases
[pull]
  ff = only
  rebase = true
[core]
  editor = vim
  pager = less -FRX
[credential]
  helper = cache --timeout=30000
