<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.yehyeh.dcv</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>908E63F9-79EE-4606-8D89-9E98C6B4832B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72C95775-97A3-4059-B5F0-E26505EC2246</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jeff Yeh</string>
	<key>description</key>
	<string>Connect to dev desktop DCV</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dev Desktop DCV</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 /Users/yehyeh/dcv/dcv-cdd.py connect yehyeh.aka.corp.amazon.com</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>72C95775-97A3-4059-B5F0-E26505EC2246</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dcvview</string>
				<key>subtext</key>
				<string>Connect to DCV using CDD script</string>
				<key>text</key>
				<string>DCV</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>908E63F9-79EE-4606-8D89-9E98C6B4832B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>72C95775-97A3-4059-B5F0-E26505EC2246</key>
		<dict>
			<key>xpos</key>
			<integer>355</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>908E63F9-79EE-4606-8D89-9E98C6B4832B</key>
		<dict>
			<key>xpos</key>
			<integer>135</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
