<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.yehyeh.amazoncodesearch</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>205E3238-6099-4042-8812-523951644B7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42DF7095-95DB-4C53-8088-CB1D31C11B6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2422F926-6A31-468D-BB2F-65038DE12368</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>205E3238-6099-4042-8812-523951644B7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9462F9ED-50D4-453C-93D7-C3EDAEE91594</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Search in package ShipmentInjection*</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42DF7095-95DB-4C53-8088-CB1D31C11B6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52536B51-4CC9-4541-9BCD-F5048DCACBA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DC1A9FAB-CA29-45C2-A6F5-603EA91BA018</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8FA290A2-1788-44A6-AE8B-DEA4933BA410</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jeff Yeh</string>
	<key>description</key>
	<string>Search code.amazon.com.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AmazonCodeSearch</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://code.amazon.com/search?term={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>52536B51-4CC9-4541-9BCD-F5048DCACBA1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:var2}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>query</string>
						<key>uid</key>
						<string>DC1A9FAB-CA29-45C2-A6F5-603EA91BA018</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>package:query</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>42DF7095-95DB-4C53-8088-CB1D31C11B6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>:</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>var</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>205E3238-6099-4042-8812-523951644B7C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>code</string>
				<key>subtext</key>
				<string>Syntax: &lt;query&gt; or &lt;package&gt;:&lt;query&gt;</string>
				<key>text</key>
				<string>Search Amazon Code Browser</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2422F926-6A31-468D-BB2F-65038DE12368</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://code.amazon.com/search?term=package%3A{var:var1}+{var:var2}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8FA290A2-1788-44A6-AE8B-DEA4933BA410</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://code.amazon.com/search?term=package%3AShipmentInjection*+{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9462F9ED-50D4-453C-93D7-C3EDAEE91594</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Search Amazon Code.

Syntax: &lt;search query&gt; or &lt;package&gt;:&lt;search query&gt;

Use Command modifier to search ShipmentInjection* packages.</string>
	<key>uidata</key>
	<dict>
		<key>205E3238-6099-4042-8812-523951644B7C</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>2422F926-6A31-468D-BB2F-65038DE12368</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>42DF7095-95DB-4C53-8088-CB1D31C11B6D</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>52536B51-4CC9-4541-9BCD-F5048DCACBA1</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>8FA290A2-1788-44A6-AE8B-DEA4933BA410</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>9462F9ED-50D4-453C-93D7-C3EDAEE91594</key>
		<dict>
			<key>xpos</key>
			<integer>385</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
