<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.custom.07268C65-DEC4-4F9B-9F9D-B9E4B2DDC1C3</string>
	<key>lightthemeuid</key>
	<string>theme.fileimport.4CECBADF-4EDF-4069-8838-58ADAE6A9239</string>
</dict>
</plist>
