<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.yehyeh.phonetoolsearch</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>4C2ED0B6-9158-4716-9CC5-C828580DC040</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF9A8D77-D12F-4BC7-8572-79DB5CA5CD5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BCFA8F6D-C35F-4AEC-AB47-666C3463A3B5</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Perform general search</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jeff Yeh</string>
	<key>description</key>
	<string>Search PhoneTool for users by name or alias</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>PhoneToolSearch</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://phonetool.amazon.com/users/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CF9A8D77-D12F-4BC7-8572-79DB5CA5CD5F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pt</string>
				<key>subtext</key>
				<string>Search by alias</string>
				<key>text</key>
				<string>Search PhoneTool</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4C2ED0B6-9158-4716-9CC5-C828580DC040</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://phonetool.amazon.com/search?filter_type=All+fields&amp;query={query}&amp;use_fuzzy_search=true</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BCFA8F6D-C35F-4AEC-AB47-666C3463A3B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>4C2ED0B6-9158-4716-9CC5-C828580DC040</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>BCFA8F6D-C35F-4AEC-AB47-666C3463A3B5</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>CF9A8D77-D12F-4BC7-8572-79DB5CA5CD5F</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
